@model Website.Models.ExperienceVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ExperienceVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Employer" class="control-label"></label>
                <input asp-for="Employer" class="form-control" />
                <span asp-validation-for="Employer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PositionTitle" class="control-label"></label>
                <input asp-for="PositionTitle" class="form-control" />
                <span asp-validation-for="PositionTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PositionDescription" class="control-label"></label>
                <input asp-for="PositionDescription" class="form-control" />
                <span asp-validation-for="PositionDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearStart" class="control-label"></label>
                <input asp-for="YearStart" class="form-control" />
                <span asp-validation-for="YearStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearEnd" class="control-label"></label>
                <input asp-for="YearEnd" class="form-control" />
                <span asp-validation-for="YearEnd" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CurrentJob" /> @Html.DisplayNameFor(model => model.CurrentJob)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
